* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #212121;
}

header,
footer {
    min-height: 60px;
    background-color: #26c6da;
    color: #303F9F;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.8);
    padding: 15px;
    border-radius: 15px;
}


nav {
    background-color: #0095a8;
    font-size: 20px;
    position:  fixed; /*nav теперь заезжает на каталог при переходе по ссылке "каталог"*/
    top: 0;
    width: 100%;
    z-index: 50;
}

header {
    margin-top: 24px; /*компенсация fixed nav'a*/
    margin-bottom: 50px;
}

.authorization {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

.authorization::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -10;
}

.authorization:target {
    display: block;
}

.authorization form {
    position: relative;
    background: #0095a8;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    top: calc(50vh - 50px);
    left: calc(50vw - 150px);
    padding: 10px;
}

.authorization input {
    border-style: none;
    outline-style: none;
}


.close-btn {
    position: absolute;
    top: 1px;
    right: 8px;
    color: black;
    font-size: 25px;
    color:#9E9E9E;
}

.close-btn:hover {
    color: white;
}

h1,
nav,
footer {
    padding: 0 10px 0;
}


footer {
    padding-top: 15px;
    margin-top: 50px;
}


footer,
header {
    text-shadow: 1px 1px 1px black;
}

.img-border {
    border-radius: 15px;
    box-shadow: 0 0 6px 1px black;
}

.box-shadow-1 {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.black-color {
    color: black;
    text-shadow: 0 0 1px black;
}