* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #212121;
}

header,
footer {
    min-height: 60px;
    background-color: #26c6da;
    color: #303F9F;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.8);
    padding: 15px;
    border-radius: 15px;
}


nav {
    background-color: #0095a8;
    font-size: 20px;
    position:  fixed; /*nav теперь заезжает на каталог при переходе по ссылке "каталог"*/
    top: 0;
    width: 100%;
    z-index: 5;
}

header {
    margin-top: 24px; /*компенсация fixed nav'a*/
    margin-bottom: 50px;
}

.authorization {
    display: inline;
}

h1,
nav,
footer {
    padding: 0 10px 0;
}


footer {
    padding-top: 15px;
    margin-top: 50px;
}


footer,
header {
    text-shadow: 1px 1px 1px black;
}

.img-border {
    border-radius: 15px;
    box-shadow: 0 0 6px 1px black;
}

.box-shadow-1 {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.black-color {
    color: black;
    text-shadow: 0 0 1px black;
}