* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;

}

.main-block {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row-reverse;

}

footer {
    flex: 0 0 auto;
}

header,
footer {
    line-height: 50px;
    background: gold;
    text-align: center;
}


/* header links */
nav {
    display: flex;
    text-align: center;
}

.nav-link {
    flex: 1;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.nav-link:last-child {
    border-right: 2px solid black;
}
/* header links */


/* vertical links */
.main-block aside {
   background: goldenrod;
   display: flex; 
   flex-direction: column;
   justify-content: space-between;
}

.aside-link {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
/* vertical links */


/*main*/
.item {
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    height: calc(100% - 20px); /* Чтобы рамка растягивалась по всей высоте col-* элемента, независимо
                                от количества текста. (20px = margin * 2)*/
}

main .flex-row {
    flex: 1;
}

img {
    width: 100%;
    height: auto;
}

.align-self-center {
    align-self: center;
}

.space-between {
    justify-content: space-between;
}

.height-100 {
    height: 100%;
}

p,
h3 {
    padding: 5px;
}

h3 {
    text-align: center;
}
/*main*/